/Tareas/EjercicioRedesSociales/nbproject/private/
/Tareas/EjercicioRedesSociales/build/
/Tareas/ClaseArreglo/nbproject/private/
/Tareas/Arreglo/nbproject/private/
/Tareas/Arreglo/build/
/Tareas/Arreglo/dist/
/Tareas/ClaseArreglo/build/
